<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication543543">
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication543543">

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CardAddedByMe.CardActivity" />
        <activity android:name="CardAddedByMe.Favourites" />
        <activity android:name="SettingActivity.Settings" />
        <activity android:name=".RegisterUser" />
        <activity android:name="CardOfMine.MainActivity" />
        <activity android:name="CardOfMine.RedoCard" />
        <activity android:name="CardAddedByMe.ActivityFormAddNewCards" />
        <activity android:name="CardAddedByMe.AddСutawayByQrCode" />
        <activity android:name="CardOfMine.AddActivityNewCards"
            android:parentActivityName="CardOfMine.MainActivity" />

    </application>

</manifest>